@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */
/* Default styles (Light Mode) */
body {
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f7f7f7;
  --primary-text-color: #333333;
  --secondary-text-color: #666666;
  --border-color: #e1e1e1;
  --button-bg-color: #007bff;
  --button-text-color: #ffffff;
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  body {
    --primary-bg-color: #121212;
    --secondary-bg-color: #1f1f1f;
    --primary-text-color: #ffffff;
    --secondary-text-color: #b0b0b0;
    --border-color: #2e2e2e;
    --button-bg-color: #0a84ff;
    --button-text-color: #ffffff;
  }
}

/* Utilize CSS variables */
body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
}

.min-h-screen {
  background-color: var(--secondary-bg-color);
}

.border-b {
  border-bottom-color: var(--border-color);
}

.text-gray-700 {
  color: var(--secondary-text-color);
}

.text-gray-500 {
  color: var(--secondary-text-color);
}

.text-gray-400 {
  color: var(--secondary-text-color);
}

.bg-blue-500 {
  background-color: var(--button-bg-color);
}
